streamlit>=1.24.0
pandas>=1.5.0
numpy>=1.23.0
plotly>=5.13.0
streamlit-extras>=0.3.0
streamlit-autorefresh>=0.3.1
python-dotenv>=1.0.0
plotly-express>=0.4.1
kaleido>=0.2.1
streamlit-option-menu>=0.3.6
streamlit-vertical-slider>=1.0.3
streamlit-timeline>=0.1.2
streamlit-echarts>=0.4.0
streamlit-folium>=0.11.0
streamlit-js-eval>=0.1.5
streamlit-lottie>=0.0.4
streamlit-pandas-profiling>=0.1.3
streamlit-plotly-events>=1.2.1
streamlit-toggle-switch>=1.0.0

