streamlit
pandas
plotly
numpy
reportlab
folium
streamlit-folium
streamlit-autorefresh
scikit-learn
joblib
openpyxl
streamlit-extras
streamlit-lottie
streamlit-option-menu
streamlit-animated-number
requests
# streamlit-image-coordinates  # <-- REMOVE or COMMENT OUT
# streamlit-gauge             # <-- REMOVE or COMMENT OUT
